.title {
  max-width: 590.38px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  /* or 72px */

  letter-spacing: 0.016em;

  color: #0d0d0d;
}
.paragraph {
  max-width: 499.81px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */

  letter-spacing: 0.016em;

  color: #807d7d;
}
.shape {
  max-width: 677.51px;
  height: 330.94px;

  background: #236e57;
  border-radius: 0px 198.468px 198.468px 0px;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
}
.mobile {
  transform: rotate(180deg);
  height: 390.94px;
}
