.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  gap: 24px;
  margin-top: 0px;
  width: 430px;
  height: 402px;

  /* Drop shadow */
}
.first_card {
  background: linear-gradient(
    156.79deg,
    rgba(255, 248, 241, 0.45) 0.44%,
    #fff8f2 61.76%,
    #e0fbe5 134.86%
  );
  box-shadow: 25px 25px 100px rgba(166, 161, 157, 0.2);
  border-radius: 12px;
}
